<html>
<head>
  <%= ERB.new(File.read(__dir__+"/header_data.erb")).result(binding) %>
</head>
<body>
  <div class="container">

    <%= ERB.new(File.read(__dir__+"/nav_row.erb")).result(binding) %>
    <div class="row">

      <div class="col-md">
        <h1>New Secret </h1>
        <form onSubmit="return false;">
          <div class="form-group">
            <label for="secret">Enter a secret</label>
            <textarea class="form-control" rows="3" id="secret"></textarea>
            <small id="secretHelp" class="form-text text-danger" style="display: none;">
              Please enter a secret
            </small>
          </div>
          <div class="form-group">
            <label for="passphrase">Secret Passphrase</label>
            <input type="password" class="form-control" id="passphrase">
            <small id="passphraseHelp" class="form-text text-danger" style="display: none;">
              Passphrase may not be empty.
            </small>
            <label for="passphraseConfirmation">Confirm Passphrase</label>
            <input type="password" class="form-control" id="passphraseConfirmation">
            <small id="passphraseConfirmationHelp" class="form-text text-danger" style="display: none;">
              Secret passphrases do not match.
            </small>
          </div>
          <button id="submit" type="button" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row align-items-center">

      <div class="col" id="response">
      </div>
    </div>
  </div>

</body>
</html>
<script>
  var submit = function(){
    let secret = $("#secret").val()
    let passphrase = $("#passphrase").val()
    let passphrase_confirm = $("#passphraseConfirmation").val()
    // Yes I know this is lazy and ugly.
    if(passphrase.length < 1){
      $("#passphrase").toggleClass("is-invalid",true);
      $("#passphraseHelp").show();
      return;
    }else if(passphrase_confirm != passphrase) {
      $("#passphraseConfirmation").toggleClass("is-invalid",true);
      $("#passphraseConfirmationHelp").show();
      return;
    } else{
      $("#passphraseConfirmation").toggleClass("is-invalid",false);
      $("#passphraseConfirmationHelp").hide();
      $("#passphrase").toggleClass("is-invalid",false);
      $("#passphraseHelp").hide();
    }

    if(secret.length < 1){
      $("#secret").toggleClass("is-invalid",true);
      $("#secretHelp").show();
      return;
    }else{
      $("#secret").toggleClass("is-invalid",false);
      $("#secretHelp").hide();
    }
    axios.post("/secret", { secret: secret, passphrase: passphrase }).then(function(resp){
      let data = resp.data;
      if(data.status){
        $("#secret").val("");
        $("#passphrase").val("");
        $("#passphraseConfirmation").val("");
        $("#response").html(`
        <div class="alert alert-success" role="alert">
          <span>Secret Created Successfully!</span><br>
          <form>
            <div class="form-group">
              <label for="staticSecret">Share the following link to send the secret</label>
              <input type="text" readonly class="form-control-plaintext" id="staticSecret" value="<%= base_url %>${data.digest}">
            </div>
          </form>
          `);
        }else{
          $("#response").html(`
          <div class="alert alert-danger" role="alert">
            <span>Error creating secret. Please try again.</span>
          </div>
          `);
        }
      });
    }

    $("#submit").on("click",function(e){
      submit();
    });

    $("#passphrase").on("keyup", function(e) {
      e.preventDefault();
      if(e.keyCode == 13) {
        submit();
      }
    });

    $("#passphraseConfirmation").on("keyup", function(e) {
      e.preventDefault();
      if(e.keyCode == 13) {
        submit();
      }
    });



</script>
