<html>
  <head>
    <%= ERB.new(File.read(__dir__+"/header_data.erb")).result(binding) %>
  </head>
  <body>
    <div class="container">
      <%= ERB.new(File.read(__dir__+"/nav_row.erb")).result(binding) %>
      <div class="row">

        <div class="col-sm">
        </div>
        <div class="col-sm">
          <h1> Secret Not Found </h1>
          <div class="alert alert-danger" role="alert">
            The requested secret does not exist!
          </div>
        </div>
        <div class="col-sm">
        </div>
      </div>

    </div>
  </body>
</html>
