<html>
  <head>
    <%= ERB.new(File.read(__dir__+"/header_data.erb")).result(binding) %>
  </head>
  <body>
    <div class="container">
      <%= ERB.new(File.read(__dir__+"/nav_row.erb")).result(binding) %>
      <div class="row align-items-center">

        <div class="col-md">
          <h1>Decrypt Secret</h1>
          <form>
            <div class="form-group">
              <label for="password">Enter A Password</label>
              <input type="password" class="form-control" id="password">
              <small id="passwordHelp" class="form-text text-danger" style="display: none;">
                Please Enter A Password
              </small>
            </div>
            <button id="submit" type="button" class="btn btn-primary btn-block">Unlock</button>
            <div class="alert alert-danger items-align-center">
              <span>Click here to delete this secret</span><br>
              <button id="burn" type="button" class="btn btn-danger btn-block">Burn This Secret</button>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">

        <div class="col align-items-center" id="response">
        </div>
      </div>

  </body>
</html>
<script>
  $("#burn").on("click",function(e){
    axios.post(`/burn/<%= digest %>`).then(function(resp){
      let data = resp.data;
      if(data.status){
        $("#response").html(`
<div class="alert alert-success" role="alert">
<span>Secret Burned Successfully!</span><br>
</div>
`);
      }else{
        $("#response").html(`
<div class="alert alert-danger" role="alert">
<span>This secret no longer exists. Perhaps it has already been viewed or burned?</span>
</div>
`);
      }
    });

  });
$("#submit").on("click",function(e){
  let password = $("#password").val()
  // Yes I know this is lazy and ugly.
  if(password.length < 1){
    $("#password").toggleClass("is-invalid",true);
    $("#passwordHelp").show();
    return;
  }else{
    $("#password").toggleClass("is-invalid",false);
    $("#passwordHelp").hide();
  }
  axios.post(`/secret/<%= digest %>`, {password: password }).then(function(resp){
    let data = resp.data;
    if(data.status){
      let rows = data.secret.split("\n").length;
      $("#response").html(`
<span>Secret Decrypted Successfully!</span><br>
<div class="alert alert-success" role="alert">
<form>
  <div class="form-group">
    <div class="col-sm-10">
      <textarea readonly class="form-control-plaintext" rows="${rows}" id="staticSecret" >${data.secret}</textarea>
    </div>
  </div>
</form>
`);
    }else{
      $("#response").html(`
<div class="alert alert-danger" role="alert">
  <span>Invalid Password</span>
</div>
`);
    }
  });
});
</script>
