<html>
<head>
  <%= ERB.new(File.read(__dir__+"/header_data.erb")).result(binding) %>
</head>
<body>
  <div class="container">
    <%= ERB.new(File.read(__dir__+"/nav_row.erb")).result(binding) %>
    <div class="row align-items-center">

      <div class="col-md">
        <h1>Decrypt Secret</h1>
        <fieldset id="submit_form">
          <form onsubmit="return false;">
            <div class="form-group">
              <label for="passphrase">Secret Passphrase</label>
              <input type="password" class="form-control" id="passphrase">
              <small id="passphraseHelp" class="form-text text-danger" style="display: none;">
                Enter the passphrase to decrypt the secret.
              </small>
            </div>
            <button id="submit" type="button" class="btn btn-primary btn-block">Unlock</button>
            <div class="alert alert-danger items-align-center">
              <span>Click here to delete this secret</span><br>
              <button id="burn" type="button" class="btn btn-danger btn-block">Burn This Secret</button>
            </div>
          </form>
        </fieldset>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">

      <div class="col align-items-center" id="response">
      </div>
    </div>
  </div>

</body>
</html>
<script>
  var unlock =function() {
    $("#submit_form").removeAttr("disabled");
  }

  var lock = function() {
    $("#submit_form").attr("disabled","disabled");
  }

  $("#burn").on("click",function(e){
    lock();
    axios.post(`/burn/<%= digest %>`).then(function(resp){
      let data = resp.data;
      if(data.status){
        $("#submit_form").hide()
        $("#response").html(`
        <div class="alert alert-success" role="alert">
          <span>Secret Burned Successfully!</span><br>
        </div>
        `);
      }else{
        $("#response").html(`
        <div class="alert alert-danger" role="alert">
          <span>This secret no longer exists. Perhaps it has already been viewed or burned?</span>
        </div>
        `);
        unlock();
      }
    });

  });
  var submit = function(){
    lock();
    let passphrase = $("#passphrase").val()
    // Yes I know this is lazy and ugly.
    if(passphrase.length < 1){
      $("#passphrase").toggleClass("is-invalid",true);
      $("#passphraseHelp").show();
      unlock();
      return;
    }else{
      $("#passphrase").toggleClass("is-invalid",false);
      $("#passphraseHelp").hide();
    }
    axios.post(`/secret/<%= digest %>`, {passphrase: passphrase }).then(function(resp){
      let data = resp.data;
      if(data.status){
        $("#submit_form").hide()
        let rows = data.secret.split("\n").length;
        $("#response").html(`
        <span>Secret Decrypted Successfully!</span><br>
        <div class="alert alert-success" role="alert">
          <form>
            <div class="form-group">
              <div class="col-sm-10">
                <textarea readonly class="form-control-plaintext" rows="${rows}" id="staticSecret" >${data.secret}</textarea>
              </div>
            </div>
          </form>
          `);
        }else{
          $("#response").html(`
          <div class="alert alert-danger" role="alert">
            <span>Invalid passphrase</span>
          </div>
          `);
          unlock();
        }
      });
  }

  $("#submit").on("click",function(e){
    submit();
  });

  $("#passphrase").on("keyup", function(e) {
    e.preventDefault();
    console.log(e.keyCode);
    if(e.keyCode == 13) {
      submit();
    }
  });
  </script>
